.title {
  font-size: large;
  font-weight: bold;
  padding: 30rpx;
}

.block {
  display: block;
  margin-bottom: 32rpx;
}

.block .role-template-text {
  font-size: large;
  color: #0052d9;
}

.full-width-button {
  margin: 32rpx;
}
